<!DOCTYPE html>
<html>  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Rahul's Austin Downtown Map</title>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="col-xs-12 text-uppercase vcenter">
          <h1>Rahul's Austin Downtown Map</h1>
        </div>
      </header>
      <section class="row">
         <article class="col-xs-4">
           <div class="input-group">
             <input data-bind="textInput: filter" class="search-query form-control" placeholder="Search" />
             <span class="input-group-btn">
               <button class="btn btn-danger" type="button">
                 <span class="glyphicon glyphicon-search"></span>
               </button>
             </span>
           </div>
           <ul class="list-group" data-bind="foreach: filteredLocations">
             <li data-bind="click: openInfoWindow" class="list-group-item list-group-item-action" role="button">
               <span data-bind="text: name"></span>
               <span data-bind="if: errorInfo">
                 <span class="badge badge-danger">
                   <span data-bind="text: errorInfo"></span>
                 </span>
               </span>
             </li>
           </ul>
         </article>
         <article class="col-xs-8">
           <span data-bind="if: gMapError">
             <div class="alert alert-danger">
               <strong>Error!</strong> gmap did not load correctly.
             </div>
           </span>
           <div id="gmap" class="iframe-container"></div>

         </article>
      </section>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src='../js/knockout-3.4.0.js'></script>
    <script src="../js/init.js"></script>
    <script src="../js/gmaps.js"></script>
    <script src="../js/wiki.js"></script>
    <script src="../js/main.js"></script>


  </body>
</html>
